body {
    font-family: 'Dancing Script', cursive;
    background-color: #5b7989;
}

h1 {
    background-color: #0b173b;
    height: 100px;
    border-radius: 10px;
}

@media (max-width: 900px) {
    header h1 {
        text-shadow: 2px;
        color: #02010a;
        color: aliceblue;
        text-align: center;
    }
}

header h1 {
    animation: slidein 1s;
    text-shadow: 2px;
    color: #02010a;
    color: aliceblue;
}

header {
    animation: slidein 1s;
    border-radius: 10px, 0, 0, 10px;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

a {
    text-align: center;
}




.galery {
    display: flex;
    justify-content: center;
    background-color: #82c3a6;
}

.secundarias {
    
    background-color: #82c3a6;
}

#contenedor {
    justify-content: center;
    background-color: #d5c75f;
}


#secundarias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#secundarias div {
    width: 33%;
    text-align: center;
    background-color: #d5c75f;
}



@media (max-width:900px) {
    #secundarias div {
        width: 100%;
    }
}
                    .imagen9 {
                        margin:5px;
                        width: 250px;
                        height: 200px;
                    }
                    
                    .imagen10 {
                        margin: 5px;
                        width: 250px;
                        height: 200px;
                    }
                    
                    .imagen11 {
                       margin: 5px;
                        width: 250px;
                        height: 200px;
                    }
                    
                    .imagen12 {
                      margin: 5px;
                        width: 250px;
                        height: 200px;
                    }
                    
                    .imagen13 {
                       margin: 5px;
                        width: 250px;
                        height: 200px;
                    }
                    
                    .imagen14 {
                        margin: 5px;
                        width: 250px;
                        height: 200px;
                    }

.imagen9 {
    filter: blur(10px);
}

.imagen10 {
    filter: sepia(90%);
}

.imagen11 {
    filter: grayscale(100%);
}

.imagen12 {
    filter: grayscale(100%);
}

.imagen13 {
    filter: grayscale(100%);
}

footer {
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    padding: 0 auto;
    background-color: #C6d5c5;
}

.centro {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.centro div {
    display: flex;
    flex-direction: column;

    text-align: center;
}

@media (max-width: 900px) {
    .centro {
        display: flex;
        flex-direction: column;

        text-align: center;

    }
}


/* For mobile phones: */
[class*="contenedor"] {
    width: 100%;
}

@-webkit-keyframes slidein {
    0% {
        margin-top: 150%;
    }

    60% {
        margin-top: -5%;
    }

    100% {
        margin-top: 0%;
    }
}

@keyframes slidein {
    0% {
        margin-top: 150%;
    }

    60% {
        margin-top: -5%;
    }

    100% {
        margin-top: 0px;
    }
}